---
# Configure clang-tidy for this project.
# see https://github.com/googleapis/google-cloud-cpp/blob/master/.clang-tidy

Checks: >
  *,
  -cert-err58-cpp,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -fuchsia-*,
  -google-build-using-namespace,
  -google-runtime-references,
  -hicpp-*,
  -llvm-header-guard,
  -readability-avoid-const-params-in-decls

# Turn all the warnings from the checks above into errors.
WarningsAsErrors: '*'

# Display errors from all non-system headers.
HeaderFilterRegex: '.*/prol16-.*/src/.*'

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,          value: lower_case }
  - { key: readability-identifier-naming.ClassCase,              value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,             value: CamelCase  }
  - { key: readability-identifier-naming.TemplateParameterCase,  value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,           value: camelBack  }
  - { key: readability-identifier-naming.VariableCase,           value: camelBack  }
  - { key: readability-identifier-naming.MacroDefinitionCase,    value: UPPER_CASE }
  - { key: readability-identifier-naming.GlobalConstantCase,     value: CamelCase  }
  - { key: readability-identifier-naming.StaticConstantCase,     value: CamelCase  }